* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#grid_wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 100px 500px 1fr;
    grid-template-areas: 
    "hea hea hea"
    "art art art"
    "sec1 sec1 sec1"
    "se2 se2 sec"
    "foo foo foo";
}

body{
  height: 100vh;
  font-family: 'Playfair Display',serif;
}

header{
    background: rgb(63, 141, 75);
    grid-area: hea;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#h1_header{
  text-align: center;
  display: flex;
  font-size: 80px;
}


#article_picture{
    grid-area: art;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-items: center;
    justify-content: space-around;
    background-image: url("../img/animals/panda.jpg");
    background-size: cover;
    background-position: center center;
}

.img_article{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.img_article.active{
  transform: translateY(0);
  opacity: 1;
}

h2{
  font-size: 80px;
  padding: 10px;
}

#h2_section_up{
  font-size: 90px;
  padding: 20px;
  position: relative;
  left: 100px;
}

#p_main:hover{
  color: blue
}

#section_up{
    grid-area: sec;
    flex-direction: row;
    height: 500px;
    background-size: cover;
    padding: 20px;
    background-image: url("../img/animals/cobra_photoshop.jpg");
}

#section_down{
    grid-area: se2;
    flex-direction: row;
    height: 500px;
    background-image: url("../img/animals/peacock_photoshop.jpg");
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

#section_middle{
  grid-area: sec1;
  flex-direction: row;
  height: 100px;
  background: rgb(63, 141, 75) ;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info_bttn{
  padding: 15px 60px;
  background-color: #E5D9B6;
  color: black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(67, 61, 61);
}

.info_bttn:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}

.info_bttn:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #dab455;
}

footer{
    background:rgb(63, 141, 75);
    grid-area: foo;
    height: auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#read_more_bttn1{
  padding: 15px 60px;
  position: relative;
  left: 650px;
  top: 100px;
  background-color: #E5D9B6;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

#read_more_bttn1:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}

#read_more_bttn{
  padding: 15px 60px;
  position: relative;
  top: 22px;
  background-color: #E5D9B6;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

#read_more_bttn:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}

#read_more_bttn:focus{
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #dab455;
}

#read_more_bttn1:focus{
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #dab455;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(63, 141, 75);
    height: auto;
    grid-area: hea;
    display: flex;
    flex-direction: row;
    align-items: center;
  } 

  /* Style the links inside the navigation bar */
  .topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(96, 180, 138);
    color: black;
    transition: 0.7s;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #1d4728;
    color: rgb(255, 255, 255);
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


  #grid_about{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 800px 1000px 800px 500px 1000px 1fr;
    grid-template-areas:
    "hea hea hea hea"
    "sec1 sec1 sec2 sec2"
    "sec3 arti arti sec4"
    "sec5 sec5 sec6 sec6"
    "art art art sec7"
    "art2 art2 art2 sec8"
    "foo foo foo foo";
  }
  
#section_left{
    grid-area: sec1;
    flex-direction: row;
    background: #e9dfc3;
    text-align: center;
}

#p_section_left{
  margin: 40px;
  margin-top: 150px;
  line-height: 100px;
  font-size: xx-large;
}

#section_right{
  grid-area: sec2;
  flex-direction: row;
  background: #A4BE7B;
  background-image: url("../img/animals/bear.jpg");
  background-size: cover;
  background-position: center center;

}

#section_left2{
  grid-area: sec3;
  flex-direction: column;
  background:#A4BE7B;
}

#section_right2{
  grid-area: sec4;
  flex-direction: column;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  font-size: xx-large;
  direction: ltr;
  background: #d9c29b;
}

#section_downleft{
  grid-area: sec5;
  flex-direction: row;
  background: #ded29b;
  background-image: url("../img/animals/cheetah2.jpg");
  background-size: cover;
  background-position: center center;
}

#section_downright{
  grid-area: sec6;
  flex-direction: row;
  background: #e9dfc3;
}

#p_section_downright{
  margin: 40px;
  margin-top: 150px;
  line-height: 100px;
  font-size: xx-large;
}

#article_middle{
  grid-area: arti;
  flex-direction: row;
  text-align: center;
}

#p_article_middle{
  display: flex;
  padding: 30px;
  font-size: 25px;
}

#h2_about{
  padding: 30px;
  font-size: 50px;
}

#our_team{
  grid-area: art;
  text-align: center;
  flex-direction: row;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

#section_our_team{
  grid-area: sec7;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  font-size: xx-large;
  direction: ltr;
}

.img_our_team{
  border-radius: 50%;
  height: 400px;
  display: flex;
  margin: 50px;
}

.imf_our_team2{
  border-radius: 50%;
  height: 400px;
  display: flex;
  margin: 50px;
}

#article_restaurant{
  grid-area: art2;
  display: flex;
  flex-direction: column;
  background: #e9dfc3;
  text-align: center;
  align-items: center;
}

#section_restaurant{
  grid-area: sec8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  font-size: xx-large;
  direction: ltr;
  background: #A4BE7B;
}

#restaurant_pic{
  height: 400px;
  width: 600px;
  border: 30px solid black;
}

#h1_restaurant{
  display: flex;
  padding: 30px;
  margin: 40px;
  position: relative;
  font-size: 25px;
}

#p_restaurant{
  display: flex;
  padding: 30px;
  margin-top: 10px;
  font-size: 25px;
}

#p_restaurant2{
  display: flex;
  padding: 30px;
  margin: 40px;
  position: relative;
  font-size: 25px;
}

#h1_restaurant{
  display: flex;
  padding: 30px;
  margin-bottom: 10px;
  font-size: 50px;
}

#grid_card{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 400px 800px 600px 600px 1fr;
  grid-template-areas: 
  "hea hea hea"
  "se1 se1 se1"
  "ar1 ar1 ar1"
  "art art2 art3"
  "art4 art5 art6"
  "foo foo foo";
}

#body_card{
  background: #d9c29b;
  height: 100vh;
  font-family: 'Playfair Display',serif;
}

#restaurant{
  grid-area: se1;
  display: flex;
  flex-direction: row;
  background-color: #e9dfc3;
  justify-content: center;
  align-items: center;
}

#restaurant_picture{
  display: flex;
  position: absolute;
  margin-top: -50%;
  height: 450px;
  width: 700px;
  border: 10px solid black;
}

#chefs_choice{
  grid-area: ar1;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#h2_chefs_choice{
  display: flex;
  margin-top: 130px;
}

#img_chefs_choice{
  display: flex;
  padding: 20px;
  height: 450px;
  width: 450px;
  border-radius: 50%;
}

#food1{
  grid-area: art;
  display: flex;
  padding: 20px;
  margin: 50px;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

#food2{
  grid-area: art2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  text-align: center;
  font-size: 30px;
}

#food3{
  grid-area: art3;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#food4{
  grid-area: art4;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#food5{
  grid-area: art5;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#food6{
  grid-area: art6;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.food{
  height: 400px;
  width: 430px;
  border: 10px solid black;
}

.food:hover{
  cursor: pointer;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
}

.bttn_food{
  padding: 15px 60px;
  position: relative;
  top: 22px;
  background-color: #E5D9B6;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.bttn_food:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}