* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#grid_wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 500px 100px 500px 150px;
    grid-template-areas: 
    "hea hea"
    "art art"
    "sec1 sec1"
    "se2 sec"
    "foo foo";
    
}

body{
  height: 100vh;
  font-family: 'Playfair Display',serif;
}

header{
    background: rgb(63, 141, 75);
    grid-area: hea;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

#article_picture{
    grid-area: art;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-items: center;
    justify-content: space-around;
    background-image: url("../img/animals/panda.jpg");
    background-size: cover;
    background-position: center center;
}

.img_article{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.img_article.active{
  transform: translateY(0);
  opacity: 1;
}

h2{
  font-size: 2rem;
  padding: 20px;
}

p:hover{
  color: blue
}

#section_up{
    grid-area: sec;
    flex-direction: row;
    height: 500px;
    background-size: cover;
    background: #A4BE7B;
    padding: 20px;
}

#section_down{
    grid-area: se2;
    flex-direction: row;
    height: 500px;
    background:rgb(227, 160, 218) ;
    background-image: url("../img/animals/bear2.jpg");
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

#section_middle{
  grid-area: sec1;
  flex-direction: row;
  height: 100px;
  background: rgb(63, 141, 75) ;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info_bttn{
  padding: 15px 60px;
  background-color: #E5D9B6;
  color: black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(67, 61, 61);
}

.info_bttn:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}

.info_bttn:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #dab455;
}

footer{
    background:rgb(63, 141, 75);
    grid-area: foo;
    height: auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.read_more_bttn{
  padding: 15px 60px;
  background-color: #E5D9B6;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.read_more_bttn:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}

.read_more_bttn:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #1d01a7;
}
/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(63, 141, 75);
    height: 86px;
    grid-area: he;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(96, 180, 138);
    color: black;
    transition: 0.7s;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #1d4728;
    color: rgb(255, 255, 255);
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


  #grid_about{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 400px 700px 400px 1fr;
    grid-template-areas: 
    "hea hea hea hea"
    "sec1 sec1 sec2 sec2"
    "sec3 arti arti sec4"
    "sec5 sec5 sec6 sec6"
    "foo foo foo foo";
  }
  
#section_left{
    grid-area: sec1;
    flex-direction: row;
    background: #e3e19b ;
}

#section_right{
    grid-area: sec2;
    flex-direction: row;
    background: #c57282;
    background-image: url("../img/animals/bear.jpg");
    background-size: cover;
    background-position: center center;

}

#section_left2{
  grid-area: sec3;
  flex-direction: column;
  background:#cb8090;
}

#section_right2{
  grid-area: sec4;
  flex-direction: column;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  writing-mode: vertical-lr;
  font-size: xx-large;
  direction: ltr;
  background: #d9c29b;
}

#section_downleft{
  grid-area: sec5;
  flex-direction: row;
  background: #ded29b;
  background-image: url("../img/animals/cheetah2.jpg");
  background-size: cover;
  background-position: center center;
}

#section_downright{
  grid-area: sec6;
  flex-direction: row;
  background: #e7f089;
}

#article_middle{
  grid-area: arti;
  flex-direction: row;
  height: 500px;
}







#grid_card{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 200px 100px;
  grid-template-areas: 
  "hea hea hea"
  "se se se"
  "se se se"
  "fo fo fo";
}
